apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  annotations:
    cert-manager.io/inject-ca-from: {{ .Release.Namespace }}/{{ include "steward.certificateName" . }}
  labels:
    {{- $data := . | mustMergeOverwrite (dict "instance" "validating-webhook-configuration") -}}
    {{- include "steward.labels" $data | nindent 4 }}
  name: steward-validating-webhook-configuration
webhooks:
{{ tpl (.Files.Get "controller-gen/validating-webhook.yaml") . }}
