- apiGroups:
    - ""
  resources:
    - configmaps
    - secrets
    - services
  verbs:
    - create
    - delete
    - get
    - list
    - patch
    - update
    - watch
- apiGroups:
    - ""
  resources:
    - namespaces
  verbs:
    - get
    - list
    - watch
- apiGroups:
    - apps
  resources:
    - deployments
  verbs:
    - create
    - delete
    - get
    - list
    - patch
    - update
    - watch
- apiGroups:
    - batch
  resources:
    - jobs
  verbs:
    - create
    - delete
    - get
    - list
    - watch
- apiGroups:
    - gateway.networking.k8s.io
  resources:
    - gateways
  verbs:
    - get
    - list
    - watch
- apiGroups:
    - gateway.networking.k8s.io
  resources:
    - grpcroutes
    - httproutes
    - tlsroutes
  verbs:
    - create
    - delete
    - get
    - list
    - patch
    - update
    - watch
- apiGroups:
    - networking.k8s.io
  resources:
    - ingresses
  verbs:
    - create
    - delete
    - get
    - list
    - patch
    - update
    - watch
- apiGroups:
    - steward.butlerlabs.dev
  resources:
    - datastores
    - tenantcontrolplanes
  verbs:
    - create
    - delete
    - get
    - list
    - patch
    - update
    - watch
- apiGroups:
    - steward.butlerlabs.dev
  resources:
    - datastores/status
    - kubeconfiggenerators/status
    - tenantcontrolplanes/status
  verbs:
    - get
    - patch
    - update
- apiGroups:
    - steward.butlerlabs.dev
  resources:
    - kubeconfiggenerators
  verbs:
    - create
    - get
    - list
    - patch
    - update
    - watch
- apiGroups:
    - steward.butlerlabs.dev
  resources:
    - kubeconfiggenerators/finalizers
    - tenantcontrolplanes/finalizers
  verbs:
    - update
