apiVersion: steward.butlerlabs.dev/v1alpha1
kind: DataStore
metadata:
  name: etcd
spec:
  driver: etcd
  endpoints:
    - etcd-0.etcd.steward-system.svc.cluster.local:2379
    - etcd-1.etcd.steward-system.svc.cluster.local:2379
    - etcd-2.etcd.steward-system.svc.cluster.local:2379
  basicAuth: null
  tlsConfig:
    certificateAuthority:
      certificate:
        secretReference:
          name: etcd-certs
          namespace: steward-system
          keyPath: "ca.crt"
      privateKey:
        secretReference:
          name: etcd-certs
          namespace: steward-system
          keyPath: "ca.key"
    clientCertificate:
      certificate:
        secretReference:
          name: root-client-certs
          namespace: steward-system
          keyPath: "tls.crt"
      privateKey:
        secretReference:
          name: root-client-certs
          namespace: steward-system
          keyPath: "tls.key"
