name: Helm Chart

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "*" ]

jobs:
  diff:
    name: diff
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - run: make -C charts/steward docs
      - name: Checking if Steward Helm Chart docs is not aligned
        run: if [[ $(git diff | wc -l) -gt 0 ]]; then echo ">>> Untracked changes have not been committed" && git --no-pager diff && exit 1; fi
      - run: make -C charts/steward-crds docs
      - name: Checking if Steward CRDs Helm Chart docs is not aligned
        run: if [[ $(git diff | wc -l) -gt 0 ]]; then echo ">>> Untracked changes have not been committed" && git --no-pager diff && exit 1; fi
  lint:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - uses: azure/setup-helm@v4
        with:
          version: 3.3.4
      - name: Building dependencies
        run: |-
          helm repo add butlerlabs https://butlerlabs.github.io/charts 
          helm dependency build ./charts/steward
      - name: Linting Steward Helm Chart
        run: helm lint ./charts/steward
      - name: Linting Steward CRDS Helm Chart
        run: helm lint ./charts/steward-crds
  release:
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    needs: [ "lint", "diff" ]
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - name: Publish Helm chart
        uses: stefanprodan/helm-gh-pages@master
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
          charts_dir: charts
          charts_url: https://butlerlabs.github.io/charts
          owner: butlerlabs
          repository: charts
          branch: gh-pages
          target_dir: .
          commit_username: prometherion
          commit_email: dario@tranchitella.eu
